<!--  Add Product -->
<h2>Add a product</h2>
<form action="/productos" method="post">
    To <strong>add a product</strong>, please write the following data
    <br>
    <label>Name : </label>
    <input type="text" name="title" />
    <br>
    <label>Price : </label>
    <input type="text" name="price" />
    <br>
    <label>URL to image : </label>
    <input type="text" name="thumbnail" />
    <br>
    <input type="submit" value="Add Product" />
</form>
<a href="/productos">
    <input type="submit" value="Go to Products">
</a>
<br>
<br>